.header {
    color: white;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(270deg, #56A7F2 27.97%, rgba(255, 255, 255, 0) 83.44%), #2E52F8;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.15);
    position: relative;
    display: flex;
}

.center-style {
    position: relative;
    display: flex;
    justify-content: center;
}

.right-style {
    position: absolute;
    top: 0;
    right: 0;
}

.avatar {
    background-color: palevioletred; 
    vertical-align: middle;
    margin-right: 10px;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
}